<%= simple_form_for @employee, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :name %>
  <%= f.input :bio, :input_html => { :rows => 5, :class => 'input-xxlarge' } %>
  <%= f.input :dob, :as => :string, :label => "Date of birth", :input_html => { :class => 'span3' } %>
  <%= f.input :joined_on, :as => :string, :input_html => { :class => 'span3' } %>
  <%= f.association :department %>
  <%= f.association :roles %>
  <%#= f.association :employees,  :label => "Reports to" %>
   <%= f.association :manager,  :label => "Reports to" %>
  <%= f.input :email, :label => "Work Email", :placeholder => 'Use valid email address' %>
  <%= f.input :personal_email, :placeholder => 'Use valid email address' %>
  
  <div class="control-group">
	<div class="controls">
	<p class="text-error"><%= @employee.address.errors.first[1] unless @employee.address.errors.empty? %></p>
  </div>
  <label class="control-label" for="address">Address</label>
  <div class="controls">
  	<%= f.simple_fields_for :address do |a| %>
	<%= a.input_field :street_name, :placeholder => 'Street', style: "margin-bottom:3px" %>
	<%= a.input_field :apt, :placeholder => 'Apt/Suite', class: 'span2', style: "margin-bottom:3px" %><br/>
  	<%= a.input_field :city, :placeholder => 'City', style: "margin-bottom:3px" %><br/>
  	<%= a.input_field :state, :collection => us_states, :include_blank => false, :prompt => "Select state", class: 'span3', style: "margin-bottom:3px" %>	
  	<%= a.input_field :zip, class: 'span2', :placeholder => 'Zip/Pin code', style: "margin-bottom:3px"  %><br/>
	<%= a.input_field :country, class: 'span3', :selected => ["United States"], :priority => [ "United States" ],  style: "margin-bottom:3px"  %>
  	<% end %>
	
</div>
</div>

  <div class="control-group">
  <label class="control-label" for="phones">Phone</label>
  <div class="controls">
	<%= f.simple_fields_for :phones do |p|  %>
	<%= p.input_field :phone_type, :collection => ["Home","Office","Mobile"], :include_blank => false,  class: 'span2', style: "margin-bottom:3px"   %>
	<%= p.input_field :phone_number, class: 'span2', style: "margin-bottom:3px"  %><br/>
	<% end %> 
</div>
</div>

    <%= f.input :avatar %>
   
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")), employees_path, :class => 'btn' %>
  </div>
<% end %>
