<%- model_class = Employee -%>

<div class="page-header" style="width: 100%; overflow: hidden;">
  <div id="title" style="width: 300px; float: left;"><h4><%=t '.title', :default => model_class.model_name.human.pluralize %></h4></div>
  <div :id="search" style="margin-left: 300px;"><%= render :partial => 'search' %></div>
 <span class="badge"> Total count:  <%= Employee.count %> </span>
</div>

<table class="table table-striped">
  <col width="1%" />
    <col width="10%" />
	<col width="20%" />
	<col width="20%" />
	<col width="20%" />
	<col width="20%" />
  <thead>
    <tr>
      <th><%= sortable 'id', 'Id' %></th>
	  <th><%= model_class.human_attribute_name(:picture) %></th>
      <th><%= sortable 'name' %></th>
      <th><%= sortable 'department_id' %></th>
	  <th><%= sortable 'role' %></th>
	  <th><%= sortable 'reportsto', 'Reports to' %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @employees.each do |employee| %>
      <tr>
        <td><%= employee.id %></td>
        <td><%= link_to (image_tag avatar_url_index_page(employee)), employee_path(employee) %></td>	
	<!--	<td><%= link_to (image_tag employee.gravatar_url), employee_path(employee) %></td>  -->

		<td><%= link_to employee.name, employee_path(employee) %> </td>
		
		<td> <dd><%= employee_department(employee) %></dd></td>
	<td>   
	    		<% @roles = employee.roles %>
	  			<% if @roles.empty? %>
				<span class="label label-info"><%= "not assigned" %></span>
				<% else %>
				<% @roles.each do |role| %>
	  		<dd><%= link_to role.title, role_path(role) %><br/></dd>
	  			<% end %>
				<% end %> 
		</td>
			<td>
		  	     <% if employee.manager.nil? %>
				<span class="label label-info"> <%= "not assigned" %></span>
				 <% else %>
		 	<dd>	<%= link_to employee.manager.name, employee_path(employee.manager) %></dd>
				<% end %>
			</td>
			
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_employee_path(employee), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      employee_path(employee),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
 <%= will_paginate @employees, :class => 'pagination' %>
 

<div class="form-actions">
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_employee_path,
            :class => 'btn btn-primary' %>
</div>