<%- model_class = Department -%>
<div class="page-header" style="width: 100%; overflow: hidden;">
  <div id="title" style="width: 300px; float: left;"><h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1></div>
  <div :id="search" style="margin-left: 300px;"><%= render :partial => 'search' %></div>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= sortable 'id' %></th>
      <th><%= sortable 'name' %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @departments.each do |department| %>
      <tr>
        <td><%=  department.id %></td>
        <td><%= link_to department.name, department_path(department) %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_department_path(department), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      department_path(department),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
 <%= will_paginate @department, :class => 'pagination' %>
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_department_path,
            :class => 'btn btn-primary' %>
